embeddings/bird_example_embeddings.jsonl filter=lfs diff=lfs merge=lfs -text
embeddings/counterfactual_claim_embeddings.jsonl filter=lfs diff=lfs merge=lfs -text
embeddings/out_of_schema_claim_embeddings.jsonl filter=lfs diff=lfs merge=lfs -text
